:root
{
    --color-empty : rgba(36, 138, 206, 0.788);
    --color-fill : rgb(219, 33, 219);
}
*
{
    position: relative;
    padding: 0;
    margin: 0;
    font-size: small;
    box-sizing: border-box;
}
body
{
    width: 100vw;
    height: 100vh;
    background-color: #c9c9c9;
    display: flex;
    justify-content: center;
}

.container
{
    margin-top: 20px;
    width: 90vw;
    display: grid;
    grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
}

div
{
    /* border: 1px solid BLUE; */
    height: 100px;
}
.circle .haut, .circle .droite, .circle .bas, .circle .gauche
{
    position: absolute;
    background-color: gold;
    border-radius: 5px;
    z-index: 12;
}
.circle .haut
{
    top: 5px;
    right: 0px;
    width: 5px;
    height: calc(100% - 5px);
}
.circle .droite
{
    top: 5px;
    width: 5px;
    height: calc(100% - 5px);
}
.circle .bas
{
    bottom: 0;
    width: 100%;
    height: 5px;
}
.circle .gauche
{
    top: 5px;
    width: 100%;
    height: 5px;
}
.haut::after
{
    content: "";
    position: absolute;
    background-color: red;
    border: 5px solid rgba(255, 255, 255, 1);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: -13px;
    top: -7.5px;
    z-index: -100;
}

/* 
.circle:nth-child(1) .after
{
    content: "";
    position: absolute;
    background-color: red;
    border: 5px solid rgba(255, 255, 255, 1);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: -13px;
    top: -5px;
    z-index: 100;
}
div.circle .before:hover
{
    cursor: pointer;
    background-color: blue;
}

div.circle:nth-child(1) .before, div.circle:nth-child(2) .before, div.circle:nth-child(3) .before, div.circle:nth-child(4) .before, 
div.circle:nth-child(9) .before, div.circle:nth-child(10) .before, div.circle:nth-child(8) .before, div.circle:nth-child(12) .before
{
    top: 5px;
    width: 100%;
    height: 5px;
}

div.circle:nth-child(5) .before,  div.circle:nth-child(7) .before, div.circle:nth-child(11) .before
{
    top: -95px;
    width: 5px;
    right: -3.5px;
    height: 100%;
}
div.circle:nth-child(5) .before
{
    top: -95px;
    width: 5px;
    right: -3.5px;
    height: 200%;
}
div.circle:nth-child(5) .after
{
    top: 95px;
} */
